<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>MicroJson</title>
</head>
<body>

<div class="row">
    <div class="col-sm 4"></div>
    <div class="col-sm 4">
        <h3>Input URI JSON and press button.</h3>
        <form method="post" >
            <div class="form-group col-md-12">
                <input type="text" name="url" class="form-control col-md-10" placeholder="Input URI JSON"/>
            </div>
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary col-md-10">Save</button>
            </div>
            {{#error}}
            <div class="form-group alert col-md-10" >
                {{error}}
            </div>
            {{/error}}
            {{#saved}}
            <div class="form-group alert col-md-10" >
                {{saved}}
            </div>
            {{/saved}}
        </form>
    </div>
    <div class="col-sm 4"></div>
</div>


<div class="row">
    <div class="col-sm-12">
        <h3>Saved Data:</h3>
        <table class="tg table table-striped table-bordered table-hover">
            <thead class="bg-primary">
            <tr>
                <th>id</th>
                <th>hash</th>
                <th>description</th>
                <th>format</th>
                <th>url</th>
                <th>title</th>
                <th>documentOf</th>
                <th>datePublished</th>
                <th>documentType</th>
                <th>dateModified</th>
                <th>json_id</th>
            </tr>
            </thead>
            {{#messages}}
            <tbody>
            <tr>
                <td>
                    {{count_id}}
                </td>
                <td>
                    {{hashData}}
                </td>
                <td>
                    {{descriptionData}}
                </td>
                <td>
                    {{formatData}}
                </td>
                <td>
                    {{urlData}}
                </td>
                <td>
                    {{titleData}}
                </td>
                <td>
                    {{documentOfData}}
                </td>
                <td>
                    {{datePublishedData}}
                </td>
                <td>
                    {{documentTypeData}}
                </td>
                <td>
                    {{dateModifiedData}}
                </td>
                <td>
                    {{idData}}
                </td>

            </tr>
            </tbody>
            {{/messages}}
        </table>
    </div>
</div>
<br/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>